* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #a775c9;
    padding: 20px;
}

h1 {
    text-align: center;
    background: white;
    color: #a775c9;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.board {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.column {
    width: 350px;
    background: #d480bb;
    border-radius: 15px;
    padding: 15px;
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.column h2 {
    color: white;
}

.count {
    background: white;
    color: #a775c9;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.task-list {
    min-height: 250px;
}

.task {
    background: #deafc2;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task h4 {
    color: #333;
}

.task p {
    color: #555;
    font-size: 14px;
}

.task small {
    color: #666;
}

.task-buttons {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.task button {
    border: none;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.edit-btn {
    background: #fff;
}

.delete-btn {
    background: #7392B5;
    color: white;
}

.done-btn {
    background: #402B47;
    color: white;
}

.add-card {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add-card input,
.add-card textarea,
.add-card select {
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.add-card button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #deafc2;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.label {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 10px;
    color: white;
    width: fit-content;
    font-size: 12px;
}

.church {
    background: #8c98e2;
}

.work {
    background: #cac9e9;
}

.personal {
    background: #cd81ff;
}

.school {
    background: #ce4abe;
    color: black;
}