* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #A775C9;
    padding: 20px;
}

h1 {
    text-align: center;
    background: white;
    color: #A775C9;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.board {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.column {
    width: 320px;
    background: #D480BB;
    border-radius: 15px;
    padding: 15px;
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.column h2 {
    color: white;
}

.count {
    background: white;
    color: #A775C9;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.task-list {
    min-height: 300px;
}

.task {
    background: #DEAFC2;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
}

.delete-btn {
    border: none;
    background: #A775C9;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.add-card {
    margin-top: 15px;
}

.add-card input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-bottom: 8px;
}

.add-card button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #DEAFC2;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.add-card button:hover {
    background: white;
    color: #A775C9;
}